src/com/baseapp/eyeem/etc/EyeemAppSettings.java
gen/*
bin/*
.DS_Store
.classpath
.idea/
*.iml
*.iws
*.log
local.properties
default.properties
project.properties.project
out/*
/libs
.settings/*

# Gradle
.gradle
build

# Crashlytics
src/main/res/values/com_crashlytics_export_strings.xml
src/main/assets/crashlytics-build.properties

# this shows up when taking a dump (java heap dump)
/captures

# We generate changelog dynamically and send it to crashlytics
CHANGELOG.md

# Don't ignore code style, so it can be nicely shared across devs
!.idea/codeStyleSettings.xml